/*=================================
=            Home Page            =
=================================*/
#hero-section {
	$height:120vh;
	 
	#carousel {
		padding-left: 0 ;
		padding-right: 0 ;
		height:$height;
		background-repeat:no-repeat;
		background-size: cover;
		#hero-text {
		position: absolute;
		top:0px;
		//z-index: 1;
		margin: 16em 12em 12em 12em;
		width:50%;
		h1 {
			color:$white;
			text-transform: uppercase; 
		}
		
		}
		.item {
			height:$height;
			margin: 0px !important;
			img {
				margin: 0 !important;
			}
		}
	}
	.photo-block {
		height:$height/2;
	}
}
.modal { 
	.carousel-inner {
		background:#000;
		img {
			margin: 0 auto;
		}
	}
}

#ourTeam {
	padding:4em;
	color:$white;
	overflow:hidden;
	@extend .pattern;
	h1 {
		@extend .h2;
		text-transform: uppercase;
	}
	h1,p {
		color:$white;
	}
} 
#sponsors {
	padding-top:5em;
	padding-bottom:10em;
	h2 {
		text-transform: uppercase;
	}

}

#contact {
	padding-top:5em;
	padding-bottom:5em;
	overflow:hiddenr;
	background-size:cover;
	h2,p {
		color:$white;
	}
	input,textarea {
		border:3px solid #efefef;
		line-height: 1em;
		font-size:2em;
		padding:0.4em;
	}
	.gfield_required {
		display:none;
	}
	.gform_button.button {
		@extend .btn;
		padding:0.1em 1em;
		float:right;
		margin:0px 15px;
	}
	.validation_error {
		color:$red;
		border-top: 0px solid transparent;
	    border-bottom: 0px solid transparent;
		width:100%;
		margin-bottom: 0px !important;
	}
	.gfield.gfield_error {
		background-color: transparent;
	    border-top: 0px solid transparent;
	    border-bottom: 0px solid transparent;
		margin: 0px;
		width:100%;
		color:$red;
			input {
				width:100%;
			}
		.gfield_description {
			color:$red;
		}
		div.ginput_container {
			margin: 0px;
			width:100%;
			color:$red;
			input {
				width:100%;
			}
		}
	}
}
#ourTeamTitle {
	overflow:hidden;
}
#contact .gfield.gfield_error .gfield_description,
#contact .validation_error {
    font-size: 2em;
    font-weight: normal;
    color: #FF5656 !important;
    text-shadow: 1px 1px 1px #000;
    margin:0px;
}
#gform_confirmation_message_1 {
	@extend .p;
	color:#fff !important;
}