// .photo-block {
// 	background-size:cover;
// 	h2 {
// 		margin-top: 0em;
// 	}

// } 


.banner .navbar ul li a {
	padding:0em;
	margin:0px;
}
.social-media {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
    right: 1em;
}
#hero-section #carousel #hero-text h1 {
	    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
}
.banner .navbar ul {
	    display: inline-block;
    color: #000;
    /* margin-top: 3em; */
    margin-bottom: 1em;
}