// .photo-block {
// 	background-size:cover;
// 	h2 {
// 		margin-top: 0em;
// 	}

// } 


.banner .navbar ul li a {
	padding:0em;
	margin:0px;
}
.social-media {
	margin: 0;
	padding-left: 0;
	padding-right: 0;

}
