#hero-section {
	#hero-text {
		padding:0px;
		    padding: 0;
		    width: 88% !important;
		    margin: 30em 0 0 2em !important;
		h1 {
			font-size:4em;
		}
	}
	a {

	}
	 #carousel {
	 	height: 140vh !important;
	 }
	.photo-block {
		background-size:cover;
		// height:70vh !important;
		h2 {
			padding-top: 1.5em !important;
			margin-top: 0px;
			font-size: 4.5em;
		}

	} 
	.btn {
		font-size:2.6em;
	}
}
#ourTeam {
	h1 {
		font-size: 5em !important;
	}
}


.navbar-collapse  {
	background:$black;
	position:relative;
	z-index: 999999;
.menu-main-menu-container {
	z-index: 999999;
	position:relative;
			 li {
			    clear:both;
			    display:block;
			    width: 100%;
			    margin: 0px !important;
			    padding: 1em;
			    a {
			    	color:$white;
			    }
			}

		#bs-example-navbar-collapse-1 {
		    z-index:999;
		    background: $red;
		}

}
}

.banner .navbar ul li a {
	color:$white;
}
.social-media {
	width:100%;
	a {
		i {
			color:$white;
		}
	}
}
.team-item {
	.header {
		&.expanded{
			.close-btn {
				float:left !important;
				display:inline-block;
				width: 65px !important;
	    		margin: 0px;
			}
		}
		&:before {
			border-width:0 50.5vw 40px !important;
		}	
	}
}