.btn {
	background:rgba($color4,0.5);
	font-size:3.6em;
	color:$color2;
	border-radius:0px;
	border:2px solid $white;
	text-transform: uppercase;
	padding:0.3em 1em;
	&:hover {
		background:$color1;
		color:$color2;
	}
}