.sponsor-item {
	margin-top: 4em;
	margin-bottom: 3em;
	a {
		color:#000;
		font-size: unset;
	}
		small {
			color:#000;
			font-size: 1em;
		    text-transform: uppercase;
		    margin: 1.3em 0;
		    font-weight: $light;
		}
	height:105px;
}	