// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #bf1812;

$font-family: 'Ubuntu',sans-serif;
$light: 300;
$bold: bold;

/*==============================
=            Colors            =
==============================*/

$red: $brand-primary;
$white: #fff;
$grey: #333;
$black: #000;

$color1:$red;
$color2:$white;
$color3:$grey;
$color4:$black;

$pattern: '../images/pattern.svg';
